body,
html {
  height: 100%;
  margin: 0;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topnav-right {
  float: right;
  padding-top: 0;
  margin-top: 0;
}
.topnav {
  background-color: transparent;
  overflow: hidden;
}
h1 {
  font-family: "Satisfy", cursive;
  font-size: xx-large;
  color: blue;
}
p {
  font-family: "Marck Script", cursive;
  font-size: small;
  color: black;
}
#signin,
#signup {
  color: white;
  background-color: blue;
}
#allpost,
#createpost {
  color: black;
  background-color: rgba(255, 255, 0, 0.685);
}
.center {
  text-align: center;
  padding: 210px 0;
}
header {
  background-color: transparent;
}

.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
  .modal-dialog .modal-content1 {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}
.modal-header1 .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}
label {
  float: left;
  font-family: "Oswald", sans-serif;
}
#submit,
#submit1 {
  background-color: rgb(12, 172, 12);
  color: white;
}
#submit2 {
  background-color: rgb(12, 172, 12);
  color: white;
  width: 30%;
  text-align: center;
}
#fname,
#uname,
#password,
#password1,
#uname,
#pass {
  background-color: rgb(235, 235, 235);
  padding-top: 1px;
}
h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 15px;
  font-family: "Dosis", sans-serif;
}
#content {
  float: left;
  background-color: rgb(235, 235, 235);
}
#title {
  float: left;
  background-color: rgb(235, 235, 235);
}
